.header {
    background: var(--arkGrey);
    padding: 2em 4em 2em 5.5em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p,
.header h1 {
    color: var(--arkWhite);
    font-size: 1.25em;
    font-weight: 500;
    margin-left: 0.4em;
    letter-spacing: 0.03em;
}

.nav>div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav>div div {
    display: flex;
    align-items: center;
    margin-right: 5em;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    vertical-align: middle;
    margin-right: 1.5em;
}

.nav ul li:nth-of-type(4) {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.nav ul li:nth-of-type(2):after,
.nav ul li:nth-of-type(3):after {
    content: "";
    transition: 0.5s;
    display: block;
    width: 8px;
    top: 2.1em;
    height: 8px;
    margin: 0 auto;
    position: absolute;
    margin-left: 26px;
    border-radius: 50%;
    background-color: var(--arkMarron);
}

.nav ul li:nth-of-type(2):after {
    top: 2.4em;
}

.nav ul li:nth-of-type(3):after {
    margin-left: 28px;
}

.header input {
    background-color: var(--arkWhite);
    border-radius: 10px;
    font-size: 1.25em;
    padding: 0.4em;
    background-image: url(../assets/search.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    width: 200px;
}

.header input::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding-left: 1em;
}

.bell {
    background: var(--arkWhite);
    padding: 10px;
    border-radius: 50%;
}

.message,
.grid,
.person {
    font-size: 2.3em;
    color: #000;
    fill: var(--arkWhite);
}

.nav>div:nth-of-type(2),
.nav>div:nth-of-type(3) {
    display: none;
}

@media(max-width: 1238px) {

    .asset,
    .nav>ul {
        display: none !important;
    }

    .nav>div:nth-of-type(2),
    .nav>div:nth-of-type(3) {
        display: block;
        z-index: 100;
    }
}



@media (max-width: 768px) {
    .header {
        padding: 2em;
    }
}